
test.o:     file format elf64-x86-64


Disassembly of section .text:

0000000000000000 <.text>:
   0:	48 83 ec 08          	sub    $0x8,%rsp
   4:	49 c7 c1 fa 18 40 00 	mov    $0x4018fa,%r9
   b:	4c 89 0c 24          	mov    %r9,(%rsp)
   f:	48 c7 c7 a8 dc 61 55 	mov    $0x5561dca8,%rdi
  16:	c3                   	retq   
